/Clocks/[Ll]ibrary/
/Clocks/[Tt]emp/
/Clocks/[Oo]bj/
/Clocks/[Bb]uild/
/Clocks/[Bb]uilds/
/Clocks/[Ll]ogs/
/Clocks/[Uu]ser[Ss]ettings/

/Clocks/[Mm]emoryCaptures/
/Clocks/[Rr]ecordings/

/Clocks/[Aa]ssets/Plugins/Editor/JetBrains*

/Clocks/.vs/

/Clocks/.gradle/

/Clocks/ExportedObj/
/Clocks/.consulo/
/Clocks/*.csproj
/Clocks/*.unityproj
/Clocks/*.sln
/Clocks/*.suo
/Clocks/*.tmp
/Clocks/*.user
/Clocks/*.userprefs
/Clocks/*.pidb
/Clocks/*.booproj
/Clocks/*.svd
/Clocks/*.pdb
/Clocks/*.mdb
/Clocks/*.opendb
/Clocks/*.VC.db

/Clocks/*.pidb.meta
/Clocks/*.pdb.meta
/Clocks/*.mdb.meta

/Clocks/sysinfo.txt

/Clocks/*.apk
/Clocks/*.aab
/Clocks/*.unitypackage
/Clocks/*.app

/Clocks/crashlytics-build.properties

/Clocks/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

/Clocks/[Aa]ssets/[Ss]treamingAssets/aa.meta
/Clocks/[Aa]ssets/[Ss]treamingAssets/aa/*
